In [8]:
name  = 'Zoha'

if name  == 'Ameen':
    print(name + ' is good boy')
elif name  == 'Zainu' :
    print(name + ' is naughty boy')
else:
    print (name + ' is my darling')

Zoha is my darling

In [22]:
tempvar1=0
num = [10,11,2,343]
for i in num:
    tempvar1= i+tempvar1
    print(tempvar1)

num.reverse()
print(num)

10
21
23
366
[343, 2, 11, 10]

In [25]:
tuple1 =([11,22], [33,44], [55,66])
myset  = set()
for a,b in tuple1:
    print (f"c = {a+b}")
    myset.add(a+b)

print('myset = {}'.format(myset))

c = 33
c = 77
c = 121
myset = {33, 77, 121}

In [29]:
mydict={'k1':'11','k2':33}

In [42]:
for i,j in mydict.items():
    print(i)

k1
k2

In [43]:
for i in range(0,100,2):
    print (i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [54]:
mylist = list(range(1,10,2))

In [55]:
mylist

[1, 3, 5, 7, 9]

In [58]:
name  = 'ZainZohaZara'

for i in enumerate(name):
    print (i)
    print (i[0])

(0, 'Z')
0
(1, 'a')
1
(2, 'i')
2
(3, 'n')
3
(4, 'Z')
4
(5, 'o')
5
(6, 'h')
6
(7, 'a')
7
(8, 'Z')
8
(9, 'a')
9
(10, 'r')
10
(11, 'a')
11

In [60]:
mylist=[1,2,44]
mylist1=['a','b','c']

In [86]:
mytupzip = zip(mylist, mylist1)

In [87]:
for i in list(mytupzip):
    print (i[0])

1
2
44

In [96]:
x = 101
x in range(1,100)

False

In [101]:
mydict4 = {'k1':22,'k2':555}

In [107]:
x = 'k1'
x in list(mydict4.items())[0]

True

In [109]:
mydict4.items()

dict_items([('k1', 22), ('k2', 555)])

In [110]:
x in mydict4.keys()

True

In [114]:
farhenheit = [90,10,40]

celcius  = [int(x/3*(9/5)) for x in farhenheit]

In [115]:
celcius

[54, 6, 24]

In [123]:
celcius1 = []
for i in farhenheit:
    celcius1.append(float(i))

In [127]:
celcius1

[90.0, 10.0, 40.0]

In [143]:
list6  = ["{} is even number".format(x) if x%2 == 0 else str(x) +' is ODD' for x in range(0,100)]

In [144]:
list6

['0 is even number',
 '1 is ODD',
 '2 is even number',
 '3 is ODD',
 '4 is even number',
 '5 is ODD',
 '6 is even number',
 '7 is ODD',
 '8 is even number',
 '9 is ODD',
 '10 is even number',
 '11 is ODD',
 '12 is even number',
 '13 is ODD',
 '14 is even number',
 '15 is ODD',
 '16 is even number',
 '17 is ODD',
 '18 is even number',
 '19 is ODD',
 '20 is even number',
 '21 is ODD',
 '22 is even number',
 '23 is ODD',
 '24 is even number',
 '25 is ODD',
 '26 is even number',
 '27 is ODD',
 '28 is even number',
 '29 is ODD',
 '30 is even number',
 '31 is ODD',
 '32 is even number',
 '33 is ODD',
 '34 is even number',
 '35 is ODD',
 '36 is even number',
 '37 is ODD',
 '38 is even number',
 '39 is ODD',
 '40 is even number',
 '41 is ODD',
 '42 is even number',
 '43 is ODD',
 '44 is even number',
 '45 is ODD',
 '46 is even number',
 '47 is ODD',
 '48 is even number',
 '49 is ODD',
 '50 is even number',
 '51 is ODD',
 '52 is even number',
 '53 is ODD',
 '54 is even number',
 '55 is ODD',
 '56 is even number',
 '57 is ODD',
 '58 is even number',
 '59 is ODD',
 '60 is even number',
 '61 is ODD',
 '62 is even number',
 '63 is ODD',
 '64 is even number',
 '65 is ODD',
 '66 is even number',
 '67 is ODD',
 '68 is even number',
 '69 is ODD',
 '70 is even number',
 '71 is ODD',
 '72 is even number',
 '73 is ODD',
 '74 is even number',
 '75 is ODD',
 '76 is even number',
 '77 is ODD',
 '78 is even number',
 '79 is ODD',
 '80 is even number',
 '81 is ODD',
 '82 is even number',
 '83 is ODD',
 '84 is even number',
 '85 is ODD',
 '86 is even number',
 '87 is ODD',
 '88 is even number',
 '89 is ODD',
 '90 is even number',
 '91 is ODD',
 '92 is even number',
 '93 is ODD',
 '94 is even number',
 '95 is ODD',
 '96 is even number',
 '97 is ODD',
 '98 is even number',
 '99 is ODD']

In [151]:
mylist6 = [x*y for x in (2,4,5) for y in (6,7,8) if x*y>20]

In [150]:
mylist6

[24, 28, 32, 30, 35, 40]

In [154]:
mystring3 = 'my goal is very important for my career now either i have to switch to new technology or leave TCS for better organization'

for mychar in mystring3.split():
    print(mychar)

my
goal
is
very
important
for
my
career
now
either
i
have
to
switch
to
new
technology
or
leave
TCS
for
better
organization

In [155]:
vName = input("enter the name")

enter the nameAmeen

In [158]:
print(vName)

Ameen

In [167]:
def CheckName(vName):
    if vName  == 'Ameen':
        return 'He is a good learner'
    else:
        return "Lets learn and excel"

In [168]:
CheckName(vName)

'He is a good learner'

In [169]:
CheckName('why')

'Lets learn and excel'

In [175]:
def check_v_c(word):
    if word[0] in ['a','e','i','o','u']:
        word = word+'ay'
        return word
    else:
        word[0] = None
        word = 
        return word
    
    st = 'aaa'
    st.

In [176]:
check_v_c('cmeen')

TypeError: lstrip arg must be None or str